.header-carusel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    // max-width: 1280px;
    min-height: 80vh;
    margin: 0;
    // margin-left: calc(50% - 640px);
    // margin-right: calc(50% - 640px);
    position: relative;

    &-btn {
        display: block;
        width: 55px;
        height: 85px;
        position: relative;
    }

    &-txt {
        width: 50%;
        min-height: 270px;
        color: #fff;
        text-align: center;

        &__regular {
            font-family: 'raleway', sans-serif;
            font-size: 36px;
            line-height: 1.2;
            font-weight: 500;
        }

        & p {
            font-family: 'montserrat', sans-serif;
            font-style: normal;
            font-weight: 300;
        }

        &-btn {
            max-width: 165px;
            padding: 18px;
            box-sizing: border-box;
            display: flex;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            background-color: #998675;
            color: #fff;
            -ms-word-break: break-all;
            word-break: break-all;
            margin: auto;
            
            &:hover {
                background-color: #fff;
                color: #736357;
            }
            
            &:active {
            background-color: #736357;
            color: #fff;
            }

            &-txt {
                margin: auto;
                font-family: raleway;
                font-size: 14px;
                line-height: 23px;
                font-weight: 800;
                text-transform: uppercase;
            }
        }
    }

    &-pagination {
        display: flex;
        justify-content: center;
        width: 100px;
        padding: 5px 0;
        position: absolute;
        bottom: 0;
        margin: 325px 0 40px 0;
        
        &-item {
            display: block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 50%;
            background-color:white;
            box-sizing: border-box;

            &:hover {
                background-color: transparent;
                box-shadow: 0 0 0 2px white;
            }
            
            &:active {
                background-color: #736357;
                box-shadow: 0 0 0 2px #000;
            }
        }
    }
}
.header-carusel-btn {
    margin: 20px 0;
}
.header-carusel-btn:hover {
    background-color: rgba($color: #e4ded7, $alpha: 0.1);
}
.header-carusel-btn:active {
    background-color: rgba($color: #e4ded7, $alpha: 0.3);
}
.carusel-btn-left::after {
    content: "";
    display: block;
    width: 52px;
    height: 0px;
    border: 1px solid #e4ded7;
    transform: rotate(-225deg);
    position: absolute;
    top: 23px;
    left: 0;
    opacity: 0.5;
}
.carusel-btn-left::before {
    content: "";
    display: block;
    width: 52px;
    height: 0px;
    border: 1px solid #d3c1ad;
    transform: rotate(225deg);
    position: absolute;
    top: 61px;
    left: 0;
    opacity: 0.5;
}
.carusel-btn-left:hover:before, .carusel-btn-left:hover:after {
    border: 1px solid #f8f6f4;
    opacity: 1;
}
.carusel-btn-left:active:before, .carusel-btn-left:active:after {
    border: 1px solid #000;
    opacity: 1;
}
.carusel-btn-right::after {
    content: "";
    display: block;
    width: 52px;
    height: 0px;
    border: 1px solid #e4ded7;
    transform: rotate(225deg);
    position: absolute;
    top: 23px;
    left: 0;
    opacity: 0.5;
}
.carusel-btn-right::before {
    content: "";
    display: block;
    width: 52px;
    height: 0px;
    border: 1px solid #d3c1ad;
    transform: rotate(-225deg);
    position: absolute;
    top: 61px;
    left: 0;
    opacity: 0.5;
}
.carusel-btn-right:hover:before, .carusel-btn-right:hover:after {
    border: 1px solid #f8f6f4;
    opacity: 1;
}
.carusel-btn-right:active:before, .carusel-btn-right:active:after {
    border: 1px solid #000;
    opacity: 1;
}
.header-carusel-txt h1 {
    font-family: raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    margin: 15px 0;
}
.header-carusel-txt p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}