@import 'fonts';
@import 'carousel';
@import 'latest';

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}
button, button:focus {
    outline: none;
    border: none;
}
.no-margin {
    margin: 0 !important;
}
.header {
    min-height: 100vh;
    background-image: url('../img/bg_header_mountains.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &-nav {
        display: flex;
        justify-content: center;
        max-width: 1175px;
        margin: 0 auto;;
        padding: 40px 0 0 0;

        & nav {
            display: flex;
            align-items: center;
        }        
    
        &-logo {
            display: flex;
            justify-content: start;
            align-items: center;
            text-decoration: none;
            color: #fff;
            margin: 0 182px 0 0;
            
            &:hover {
                color: #998675;
            }
            
            &-svg {
                fill: currentColor;
            }

            &-txt {
                font-family: 'raleway', sans-serif;
                font-size: 34px;
                line-height: 1.2;
                font-weight: 400;
                letter-spacing: -0.04em;
                text-align: right;
            }
        }
    }

    
}
.header-nav-menu {
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    padding: 0 10px 0 10px;
}
.header-nav a {
    text-decoration: none;
    color: #fff;
}
.header-nav a:hover {
    color: #998675;
}
.header-nav a:active {
    color: #000;
}
.header-nav-icons {
    display: flex;
    padding: 16px 0 0 60px;
}

.header-nav-basketlink {
    color: #fff;

    &-svg {
        fill: currentColor;
    }
}
.header-nav-formsearch {
    width: 30px;
    height: 30px;
    position: relative;
    padding: 0 0 0 30px;

    &-svg {
        fill: #fff;
    }

    &__input {
        width: 0;
        min-height: 0;
        padding: 5px;
        outline: none;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 60px;
        left: -119px;
        color: #fff;
        font-size: 16px;
        font-family: Arial;
        text-transform: capitalize;
    }

    &__label {
        display: block;
        width: 100%;
        height: 100%;
    }
}
.header-nav-formsearch-svg:hover {
    fill: #998675;
}
.header-nav-formsearch-svg:active {
    fill: #000;
}

.header-nav-formsearch__label:hover .header-nav-formsearch-svg {
    color: #998675;
    cursor: pointer;
}
.header-nav-formsearch__input:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}
.icon-menu__input, .header-nav-menu__hide {
    display: none;
}
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 375px;
    flex-wrap: wrap;
    padding: 20px 0 0 0;

    & a {
        text-decoration: none;
        max-width: 280px;
        text-align: center;
        font-family: raleway;
    }

    & a:not(last-of-type) {
        margin: 0 30px 0 0;
    }

    & a:hover, a:hover > h2 {
        color: #c7b299;
    }

    & a:hover > svg {
        fill: #c7b299;
    }

    & svg {
        fill: #555555;
    }

    &-links:after {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
        margin: 0 auto;
        align-self: flex-end;
    }

    &-links:hover:after {
        background-color: #c7b299;
    }
}
.main-nav-links-title {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.main-nav-links-txt {
    font-family: montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}
.ideas {
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    padding: 87px 0 0 0;

        &-main-title {
            font-family: raleway;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
        }

        &-main-txt {
            max-width: 780px;
            display: block;
            font-family: montserrat;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #8c8c8c;
            margin: 0 auto;
            padding: 0 0 40px 0;
        }

    &-photo {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &-bottom {
        min-height: 150px;
        background-color: #4e3427;
        background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        &-txt {
            font-family: raleway;
            font-size: 28px;
            line-height: 1.2;
            font-weight: 400;
            color: #ffffff;

            &__wax {
                color: #c7b299;
            }

            &__sec {
                margin: 0;
                font-family: montserrat;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 300;
                color: #615855;
            }
        }
    }
}
.btn__nomargin {
    margin: 0;
}
.photo-landscape:first-child {
    position: relative;
    margin: 0 auto;
    bottom: 0;
    z-index: 2; 
}

.photo-landscape:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 1;   
}

.photo-landscape:last-child {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 1;
}

.video {
    width: 100%;
    background-color: rgba(17,17,17,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    &-file {
        width: 100%;
    }

    &-description {
        max-width: 600px;
        padding: 10px;
        box-sizing: border-box;
        position: absolute;
        text-align: center;

        &-btn {
            display: flex;
            width: 100px;
            height: 100px;
            border: none;
            border-radius: 50%;
            outline: none;
            background-color: rgba(0, 0, 0, 0.2);
            margin: 0 auto;
            cursor: pointer;
        }

        &-title {
            font-family: raleway;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 500;
            color: #fff;
            width: 100%;
        }

        &-txt {
            font-family: montserrat;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #fff;
            max-width: 550pxS;
        }

        &-time {
            font-family: montserrat;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #c7b299;
        }
    }
}
.video-play-btn-icon {
    margin: auto;
    fill: #fff;
}
.video-description-btn:hover {
    background-color: rgba(61, 49, 49, 0.6);
}
.video-description-btn:hover .video-play-btn-icon {
    fill: #555;
}
.video-description-btn:active .video-play-btn-icon {
    fill: #000;
}
.mobile {
    display: flex;
    justify-content: center;
    padding: 80px 0 0 0;

    &-description {
        text-align: left;
        width: 670px;
        margin: 120px 0 0 30px;

        &-title {
            font-family: raleway;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
        }

        &-txt {
            font-family: montserrat;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #8c8c8c;
            margin: 40px 0 0 0;
        }

        &-list {
            list-style: none;
            font-family: montserrat;
            font-size: 16px;
            line-height: 32px;
            font-weight: 300;
            color: #8c8c8c;
            margin: 40px 0 0 0;

            & li::before {
                border-radius: 50%;
                background-color: #c7b299;
                color: #fff;
                font-family: "fontello";
                font-style: normal;
                font-weight: normal;
                speak: never;
                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                margin: 0 20px 0 0;
                text-align: center;
                font-variant: normal;
                text-transform: none;
                line-height: 1em;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }
}
.statistic {
    min-height: 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    &-card {
        width: 140px;
        text-align: center;

        &-svg {
            fill: #c7b299;
            margin: 0 0 30px 0;
        }

        &-title {
            font-family: montserrat;
            font-size: 48px;
            line-height: 36px;
            font-weight: 200;
            color: #ffffff;
            margin: 0 0 20px 0;
        }

        &-txt {
            font-family: montserrat;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
            color: #c7b299;
            margin: 0 0 30px 0;
        }

        &::after {
            content: "";
            display: block;
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin: 30px auto;
            align-self: flex-end;
        }
    }
}
.icon-angle-right:before {
    content: '\f105';
}
.posts {
    margin: 40px 0 80px 0;
    
    &-items {
        margin: 40px auto 0 auto;

        &-card {
            width: 370px;
            cursor: pointer;
            position: relative;

            &:hover .posts-items-card-img {
                filter: brightness(30%);
            }

            &:hover .posts-items-card-txt {
                background-color: #362f2d;
            }

            &:hover .posts-items-card-txt-title, .posts-items-card-txt-link {
                color: #c7b299;
            }

            &:hover .posts-items-card-txt-paragraph {
                color: #fff;
            }

            &:hover .posts-items-card-date {
                background-color: #c7b299;
            }

            &:hover .posts-items-card-mounth {
                background-color: #a48d72;
            }

            &-date {
                position: absolute;
                top: 20px;
                left: 20px;
                background-color: #363636;
                border-radius: 3px 3px 0px 0px;
                font-family: montserrat;
                font-size: 24px;
                line-height: 20px;
                font-weight: 300;
                color: #ffffff;
                width: 50px;
                text-align: center;
                padding: 10px 0;
            }

            &-mounth {
                background-color: #252525;
                border-radius: 0px 0px 3px 3px;
                font-family: roboto;
                font-size: 12px;
                line-height: 20px;
                font-weight: 400;
                color: #ffffff;
                position: absolute;
                top: 55px;
                left: 20px;
                width: 50px;
                text-align: center;
                padding: 7px 0;
            }

            &-mounth::first-letter {
                text-transform: uppercase;
            }
        
            &-txt {
                margin: -5px 0 0 0;
                background-color: #fff;
                text-align: left;
                padding: 30px 20px;

                &-title {
                    margin: 0 0 20px 0;
                    font-family: raleway;
                    font-size: 20px;
                    line-height: 1.2;
                    font-weight: 500;
                    color: #555555;
                }

                &-paragraph {
                    font-family: montserrat;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 300;
                    color: #8c8c8c;
                }

                &-link {
                    text-decoration: none;
                    font-family: montserrat;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #c7b299;
                    position: relative;

                    &::after {
                        content: "";
                        border: 5px solid transparent;
                        border-left: 5px solid #c7b299;
                        position: absolute;
                        left: 85px;
                        top: 5px;
                    }
                }
            }
        }

        &-pagination {
            display: flex;
            width: 70%;
            margin: 0 auto;
            justify-content: space-evenly;
        }

        &-btn {
            width: 22px;
            height: 22px;
            fill: #d1d1d1;
        }

        &-btn:hover {
            fill: #c7b299;
        }

        &-btn:active {
            fill: #4d4945;
        }
    }
}
.posts-items-card-txt-link:hover {
    color: #736357;
}
.posts-items-card-txt-link:active {
    color: #111111;
}
.partners {
    background-image: url('../img/footer_mountains.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 130px 0;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;

    &-link:not(:last-of-type) {
        margin: 0 90px 0 0;
    }

    &-link:hover img {
        filter: brightness(45%);
    }
}
.footer {
    background-color: #191919;

    &-top {
        display: flex;
        justify-content: center;
        padding: 30px 0 0 0;

        &-about {
            color: #fff;
            width: 260px;
            
            & p {
                margin: 40px 0 30px 0;
            }

            &-logo {
                display: flex;
                align-items: center;
            }

            &-txt {
                font-family: montserrat;
                font-size: 14px;
                line-height: 24px;
                font-weight: 300;
                color: #555555;
            }

            &-link {
                font-family: montserrat;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: #d1d1d1;
                text-decoration: none;
                position: relative;
            }

            &-link::after {
                content: "";
                border: 5px solid transparent;
                border-left: 5px solid #d1d1d1;
                position: absolute;
                left: 85px;
                top: 5px;
            }

            &-link:hover {
                color: #4d4945;
            }

            &-link:active {
                color: #736357;
            }
        }

        &-posts {
            width: 260px;

                & a:not(:last-of-type) {
                    display: block;
                    border-bottom: 2px solid #252525;
                }

                & a:not(:first-of-type) {
                    display: block;
                    margin: 20px 0 0 0;
                }

            &-title {
                font-family: raleway;
                font-size: 24px;
                line-height: 1.2;
                font-weight: 700;
                color: #ffffff;
            }

            &-link {
                text-decoration: none;

                &:hover time {
                    font-family: montserrat;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #ffffff;
                }

                &:hover p {
                    font-family: montserrat;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #c7b299;
                }

                & p {
                    margin: 0 0 40px 0;
                }

                & time {
                    font-family: montserrat;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #363636;
                }

                & p {
                    font-family: montserrat;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #555555;
                }
            }
        }

        &-twitter {
            width: 260px;

            &-title {
                font-family: raleway;
                font-size: 24px;
                line-height: 1.2;
                font-weight: 700;
                color: #ffffff;
                margin: 20px 0 30px 0;
            }

            &-link {
                text-decoration: none;
                font-family: montserrat;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #555555;
                padding: 0 0 20px 0;
                
                &:not(:last-of-type) {
                    display: block;
                    border-bottom: 2px solid #252525;
                }

                & p {
                    margin: 17px 0 11px 0;
                    padding: 0;
                }

                &:hover {
                    color: #c7b299;
                }
            }
        }
    }

    &-bottom {
        background-color: #111111;
        display: flex;
        padding: 45px 0;
        justify-content: space-evenly;
    }
}
.footer-imgbox__img {
    cursor: pointer;
}
.footer-imgbox__img:hover {
    filter: brightness(50%);
}
.footer-bottom-left a, .footer-bottom-right a {
    text-decoration: none;
        font-family: montserrat;
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        color: #555555;
}
.footer-bottom-left a:hover, .footer-bottom-right a:hover {
    color: #c7b299;
}
.footer-bottom-left a:active, .footer-bottom-right a:active {
    color: #736357;
}
.footer-bottom-left a:not(:first-of-type)::before, .footer-bottom-right a:not(:first-of-type)::before {
    content: "|";
    padding: 0 7px;
    color: #c7b299;
}
.brand {
    color: #959595;
}
.other-brand {
    color: #959595;
}
.footer-col:not(:last-of-type) {
    margin: 0 40px 0 0;
}
.twitter-name {
    color: #00bff3;
}
.twitter-name__site {
    color: #959595;
}
.footer-top-widget {
    width: 280px;

    &-title {
        font-family: raleway;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
    }

    &-imgbox {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}
@media (max-width: 1200px) {
    .header-nav-logo {
        margin: 0 35px 0 0;
    }
    .header-nav nav {
        flex-wrap: wrap;
    }
    .header-nav-icons {
        padding: 16px 0 0 20px;
    }
    .header-carusel-pagination {
        margin: 0 auto;
    }
    .ideas-photo {
        flex-direction: column;
    }
    .photo-landscape:first-child {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .photo-landscape:nth-child(2) {
        position: static;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
    .photo-landscape:last-child {
        position: static;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
    .posts {
        padding: 0;
        margin: 40px auto;
    }
    .mobile img {
        display: none;
    }
    .mobile-description {
        margin: 0 auto 40px auto;
    }
    .partners {
        padding: 20px;
        box-sizing: border-box;
    }
    .partners-link:not(:last-of-type) {
        margin: 0;
    }
    .footer-top-about {
        margin: 0 20px 0 0;
    }
    .footer-top-widget {
        display: none;
    }
    .footer-bottom {
        padding: 20px 0;
        flex-wrap: wrap;
    }
}
@media (max-width: 576px) {
    body {
        width: 100%;
    }
    .header {
        min-height: 20vh;
        display: flex;
        align-items: center;
    }
    .header-nav {
        align-items: center;
        padding: 0;
    }
    .header-nav nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: #4e3427;
        color: #fff;
        padding: 20px;
        width: 70%;
        height: 100vh;
        // display: none;
        top: 0;
        left: -100%;
        transition: left 0.8s;
    }
    .header-nav-menu__hide {
        display: block;
    }
    .header-nav-icons {
        display: none;
    }
    .header-nav-menu {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
        font-size: 1.4em;
        width: 70%;
        text-align: center;
    }
    .header-nav-menu:hover, .header-nav a:hover {
        color: #fff;
        background-color: #959595;
    }
    .header-nav-menu:active {
        color: #000;
        background-color: #d1d1d1;
    }
    .header-nav-menu:first-of-type {
        border-top: 1px solid #fff;
    }
    .mobile-menu {
        position: absolute;
        right: 30px;
    }
    input:checked ~ nav {
        top: 0;
        left: 0;
    }
    [class^="icon-"]:before, [class*=" icon-"]:before {
        font-family: "menu-btn";
        font-style: normal;
        font-weight: normal;
        speak: never;
       
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        /* opacity: .8; */
       
        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;
       
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;
       
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;
       
        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */
       
        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
       
        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
      }
    .icon-menu::before {
        content: '\f0c9';
        color: #fff;
        font-size: 3em;
    }
    .icon-menu__input {
        position: absolute;
        left: -9999999999px;
        visibility: hidden;
    }
    .header-carusel {
        display: none;
    }
    .header-carusel-txt-btn {
        padding: 10px;
        border-radius: 0;
    }
    .main-nav {
        padding: 20px 0 0 0;
    }
    .main-nav a:not(last-of-type) {
        margin: 0 auto;
    }
    .ideas, .latest, .posts {
        padding: 0 10px;
    }
    .ideas-bottom {
        flex-direction: column;
    }
    .main-nav a {
        max-width: 240px;
    }
    .ideas-photo {
        position: static;
    }
    .photo-landscape:first-child, .photo-landscape:nth-child(2), .photo-landscape:last-child {
        position: static;
        margin: 0;
    }
    .mobile {
        flex-direction: column-reverse;
        padding: 0;
    }
    .mobile img {
        margin: 0 auto;
    }
    .mobile-description {
        width: 90%;
        margin: 0 auto;
    }
    .mobile-description-title {
        text-align: center;
    }
    .mobile-description-list {
        margin: 0 auto;
        padding: 10px 0 30px 10px;
    }
    .latest-btn {
        padding: 10px;
    }
    .statistic {
        flex-wrap: wrap;
        padding: 10px;
    }
    .video {
        display: none;
    }
    .partners {
        padding: 30px 7px;
        display: flex;
    }
    a.partners-link {
        margin: 20px 20px 20px 0;
    }
    .footer-top {
        display: inline-flex;
        padding: 7px;
    }
    .footer-top-posts, .footer-top-twitter {
        display: none;
    }
    .footer-top-about {
        width: 100%;
        margin: 0 auto;
    }
    .footer-top-about-logo {
        justify-content: center;
    }
}